<html>
<head>
    <meta charset="UTF-8" />
    <title>

        {% block title %}Créer un Sheet {% endblock %}
    </title>
    {% block pageTitle %} {{ 'Collectify Create Sheet'|upper }}{% endblock %}
</head>
<body>
{% block body %}
   {{ form_start(form) }}
    {{ form_label(form.name) }} {{ form_widget(form.name) }}
    {{ form_rest(form) }}
{% endblock %}
</body>
{% block footer %}
{% endblock %}
</html>